@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lucrul Individual</h1>
    <p>  <a asp-controller="Product" asp-action="Index">Gestioanrea Produselor</a>.</p>
</div>
